.task-list{
    position: absolute;
    left:0px;
    top:200px;
    right:0px;
    bottom:110px;
}

.task-list__list-wrapper{
    overflow-y: auto;
    height: calc(100% - 10px);
}

.task-list__list-wrapper::-webkit-scrollbar {
    width:5px;
    background-color: var(--toggle-bg);
    border-radius: 5px;
    transition: background-color 1s ease-in-out, transform 1s ease-in-out;
}
.task-list__list-wrapper::-webkit-scrollbar-thumb{
    background-color: var(--toggle-fg);
    border-radius: 5px;
    transition: background-color 1s ease-in-out, transform 1s ease-in-out;
}
.task-list__list-wrapper::-webkit-scrollbar-button{
    display: none; 
}
@media only screen and (max-width: 469px) {
    .task-list{
        bottom: 60px;
    }
    li{
        font-size:1.5rem;
    }
}