html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    padding-top: 0;
    margin-top: 0;
    font-size: 4rem;
}

ol {
    padding: 0;
    margin: 0;
}

li {
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: var(--background-color);
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    border: 3px solid grey;
    border-radius: 5px;
    display: flex;
    align-items: center;
    list-style-position: outside;
}

#root{
    height: 100%;
    width: 100%;
}