:root {
    --background-color: #f6f6f6;
    --foreground-color: #003cff;
    --primary-text-color: #0a0a0a;
    --secondary-text-color: #ffffff;
    --toggle-bg: #fff895;
    --toggle-fg: #ffd723;
}

[data-theme="dark"] {
    --background-color: #0a0a0a;
    --foreground-color: #567aff;
    --primary-text-color: #f6f6f6;
    --secondary-text-color: #0a0a0a;
    --toggle-bg: #283452;
    --toggle-fg: #00a6ff;
}